.mainbgc {
	background-color: #90c8ff; /* light blue */
}
.mainbgc_dkbl {
	background-color: #4169E1; /* dark blue */
}
.secondbgc {
	background-color: #6EDCAD; /* darker mint green */
}
body {
	background-color: #E8A2FA; /* pale magenta */
}
.divLiteral {
	background-color: #FEFCFF; /* milky white */
	margin: auto;
	width: 90%;
	border: 3px solid #1A06F7; /* dark blue */
	padding: 10px;
}
.divMain {
	background-color: #eff3f0f1; /* darker mint green */
	margin: auto;
	width: 80%;
	border: 3px solid #1A06F7; /* dark blue */
	padding: 10px;
}
.divHeader {
	margin: auto;
	width: 80%;
	border: 3px solid #1A06F7; /* dark blue */
	padding: 10px;
}
/* .genimage {
	display: block;
	margin-left: auto;
	margin-right: auto;
} */
h1,h2 {
	font-family: sans-serif;
	color: #154360; /* dark bluish gray */
}
h1 {
	border-bottom: 1px solid blue;
	text-align: center
}
h2 {
	/* text-decoration: underline; */
	text-align: center;
}
leftUnderline {
	text-decoration: underline;
	text-align: left;
}
p {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	background-color: #f2d7d5; /* very light purple */
	color: #5F00FF; /* dark purple */
}
.blueberry {
	background-color: #4C35FA; /* almost the same dark purple */
	color: #F8F1F3;	/* very light pink */
}
.cranberry {
	background-color: #703242;
	color: #F8F1F3;
}
.greentea {
	background-color: #05A256;
	color: #F8F1F3;
}
.raspberry {
	background-color: #EE368C;
	color: #F8F1F3;
}
/* em {
	font-family: sans-serif;
} */
/* unvisited link */
a:link {
	color: red;
}

/* visited link */
a:visited {
	color: #0B610B;
}

/* mouse over link */
a:hover {
	color: hotpink;
}

/* selected link */
a:active {
	color: blue;
}
/* a.imgLink {
	display: block;
} */

.banner {
	display: block;
	/* -moz-box-sizing: border-box; */
	/* box-sizing: border-box; */
	width: 280px; /* Width of new image */
	/* height: 236px; */ /* Height of new image */
	/* padding-left: 10px; */ /* Equal to width of new image */
}

li {
	display: list-item;
}

table {
	width: 100%;
}

td {
	vertical-align: top;
	width: 50%;
}

table, td {
	border: 1px solid black;
	border-collapse: collapse;
}

.imghumor {
    border: 2px solid black;
    height: 400px;
}

.ico {
    border: 0px;
    width: 20px;
    height: 20px;
}
.tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
  
	/* Position the tooltip */
	position: absolute;
	z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
	visibility: visible;
  }
