<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="description" content="This is an HTML5 example">
	<meta name="keywords" content="HTML5, CSS3, JavaScript">
<title>This it the title - DUH!</title>
	<link rel="sylesheet" href="mystyles.css">
</head>
<body>
Beginning of Body (12/26/2013 1248 PST)
	<header>
		<h1>This is the main title of the website using H1</h1>
		<h2>This is the main title of the website using H2</h2>
		<h3>This is the main title of the website using H3</h3>
		<h4>This is the main title of the website using H4</h4>
		<h5>This is the main title of the website using H5</h5>
		<h6>This is the main title of the website using H6</h6>
	</header>
	<nav>
		<ul>
			<li>home</li>
			<li>photos</li>
			<li>videos</li>
			<li>contact</li>
		</ul>
	</nav>
	<section>
		Beginning of section
		<article>
			<header>
				<hgroup>
					<h3>Header3 of 1st article's hgroup.</h3>
					<h4>Header4 of 1st article's hgroup.</h4>
				</hgroup>
				<p>Stuff in first header</p>
			</header>
		First 'article' text
		<figure>
			<img src="../images/wakule_honu_small_blue.jpg" width="25%">
			<figcaption>
				This is an image in the first article within the section
			</figcaption>
		</figure>
			<footer>
				<p>footer of 1st article</p>
			</footer>
		</article>
		<article>
			<header>
				<hgroup>
					<h3>Header3 of 2nd article's hgroup.</h3>
					<h4>Header4 of 2nd article's hgroup.</h4>
				</hgroup>
				<p>Stuff in Second header</p>
			</header>
		Second 'article' text
			<footer>
				<h1>footer of 2nd article</h1>
			</footer>
		</article>
		Bueno Terra - Section Text
			<aside>
		<blockquote>Article #1 within the "aside" and "section"</blockquote>
		<blockquote>Article #2 within the "aside" and "section"</blockquote>
			</aside>
		Bottom of "Section"
	</section>
			<aside>
		<blockquote>Article #1 within the "aside" but outside "section"</blockquote>
		<blockquote>Article #2 within the "aside" but outside "section"</blockquote>
			</aside>
<p>Bueno Terra - Normal Body Text</p>
<p>End of Body</p>
<footer>
Copyright &copy; 2012-2013
</footer>
</body>
</html>
