<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">


  <title>HTML5 Template</title>
  <meta name="description" content="HTML5 Template">
  <meta name="author" content="Thomas">

  <link rel="stylesheet" href="../css/wakuleMain.css">

</head>
<body>
<h2>Basic HTML 5 Template</hs>
<h3>Brought to you by Wakule</h3>

<!-- Begin Literal HTML markup -->
<div class="divLiteral">
<pre>
&lt;!doctype html&gt;

&lt;html lang="en"&gt;
&lt;head&gt;
  &lt;meta charset="utf-8"&gt;


  &lt;title&gt;HTML5 Template&lt;/title&gt;
  &lt;meta name="description" content="HTML5 Template"&gt;
  &lt;meta name="author" content="Thomas"&gt;

  &lt;link rel="stylesheet" href="../css/wakuleMain.css"&gt;

&lt;/head&gt;

&lt;body class="mainbgc"&gt;
  &lt;script src="../js/scripts.js"&gt;&lt;/script&gt;
  &lt;div&gt;
  &lt;/div&gt;

&lt;hr&gt;
  &lt;img src="../images/bmw72px.ico" alt="BMW" width="20"&gt;&lt;a href="http://www.wakule.com"&gt;&nbsp;Wakule Home&lt;/a&gt;&lt;br&gt;

&lt;footer&gt;&lt;center&gt;
  Copyright &copy; 2012-2018
&lt;/center&gt;&lt;/footer&gt;

&lt;/body&gt;
&lt;/html&gt;
</pre>
</div>
<!-- End Literal HTML markup -->
<hr>
	<img src="../images/bmw72px.ico" alt="BMW" width="20"><a href="http://www.wakule.com">&nbsp;Wakule Home</a><br>

<footer><center>
	Copyright &copy; 2012-2018
</center></footer>

</body>
</html>
